<div class="row">
	<form #trainer="ngForm" (ngSubmit)="onSubmit(trainer)" class="col l12">

		<div class="input-field col l4">
        <input id="name" type="text" name="name" ngModel>
        <label for="name">Nome</label>
      </div>
      <div class="input-field col l4">
        <input id="id" type="number" name="id" ngModel>
        <label for="id">ID</label>
      </div>
      <div class="input-field col l4">
        <input id="pokemon" type="text" name="pokemon" ngModel>
        <label for="pokemon">Pokémon</label>
      </div>

      <button class="waves-effect waves-light btn" type="submit">Submit</button>
	</form>
</div>
